extends layout

block scripts
    script(src="https://www.paypal.com/sdk/js?client-id=" + process.env.PAYPAL_CLIENT_ID + "&commit=false")
    script(src="/javascripts/index.js")

block content
    h1 cart
    .product(id="cart")
        if cart
            #items
                em Items in cart:
                each cartItem in cart.genArray()
                    div(class="cart_item",id=cartItem.item._id)
                        span=cartItem.item.name + ",  quantity " + cartItem.qty
                    div(class="remove_link")
                      a(href="javascript:removeFromCart(#{cartItem.item._id})")
                        | > Remove from cart
            h3
                em
                    = "Subtotal: $" + cart.totalPrice
            p(style="width:100%") (free local shipping in san francisco !🌉🌫)
            #paypal-button-container
            script(src="/javascripts/paypal-cart.js")
            script(src="/javascripts/paypal-button-color.js")
        else
            p Your cart is empty. Why not go 
                a(href="/")
                    | add something?



    
