extends layout

block scripts
  script(src="/javascripts/index.js")

block cart_summary
  a(href="/cart")
    h3#cart_link
      | items in cart: 
      span#cart_items= cart.totalQty

block content
  each prod in products
    .product
      h2.name= prod.name
      img(src=prod.imagePath, class="prodImg")
      .description
        h3.price
          | $ 
          = prod.price   
        button(onClick="addToCart(\"" + prod._id + "\")").add_to_cart
          | Add to cart
        != md.toHTML(prod.description)

