extends layout

block nav
  h1= title
  p > skincare shop <
  p 째 fade up 째
    br
    | 째 for all 째
  img(src="/images/logo.svg", alt="fade logo", id="logo")

block content
  .product
    | day cream
    br
    | $40
  .product
    | night oil
    br
    | $50
