@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
@media screen and (min-aspect-ratio: 1) {
  body {
    padding: 50px;
  }
  #left {
    flex-basis: 30%;
    padding-right: 4rem;
    top: 0px;
    position: sticky;
    height: auto;
  }
  #logo {
    width: 100%;
    animation: rota 10s 3;
    transform-origin: center center;
    margin-top: 2rem;
  }
  #right {
    flex-basis: 70%;
    border-left: #ffffff 1px solid;
    padding-left: 4rem;
  }
  .product {
    background-color: #20394d;
    height: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 90%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .product h2.name {
    flex-basis: 100%;
    display: inline-block;
  }
  .product h3.price {
    font-style: italic;
    display: block;
    text-align: left;
  }
  .product .prodImg {
    height: 50vh;
    display: inline-block;
    object-fit: contain;
    object-position: left center;
    flex-basis: 40%;
  }
  .product .description {
    display: inline-block;
    width: 38%;
    padding: 2%;
    border: 1px solid white;
    flex-basis: 40%;
  }
  .product .add_to_cart {
    color: white;
    background-color: #1c202e;
    padding-bottom: 1%;
    padding-top: 1%;
  }
}

@media screen and (max-aspect-ratio: 1) {
  body {
    flex-wrap: wrap;
    padding: 10px;
  }
  #left {
    flex-basis: 100%;
    padding-right: 4rem;
    height: auto;
  }
  #logo {
    width: 90%;
    animation: rota 10s 3;
    transform-origin: center center;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
  }
  #right {
    width: 100%;
    border-left: #ffffff 1px solid;
    padding-left: 0rem;
  }
  .product {
    background-color: #20394d;
    height: auto;
    margin-bottom: 2rem;
    padding: 1rem;
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  .product h2.name {
    flex-basis: 100%;
    display: inline-block;
  }
  .product h3.price {
    font-style: italic;
    display: block;
    text-align: left;
  }
  .product .prodImg {
    height: 50vh;
    display: inline-block;
    object-fit: contain;
    object-position: left center;
    flex-basis: 40%;
  }
  .product .description {
    display: inline-block;
    padding: 2%;
    margin-top: 5%;
    border: 1px solid white;
    flex-basis: 90%;
  }
  .product .add_to_cart {
    color: white;
    background-color: #1c202e;
    padding-bottom: 1%;
    padding-top: 1%;
  }
}

body {
  font: 14px 'Archivo', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #1c202e;
  color: #ffffff;
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

h1 a {
  color: inherit;
  text-decoration: inherit;
}

h1 a:hover {
  color: #20394d;
}

#title {
  position: sticky;
  top: 10vh;
  z-index: 5;
}

#cart_link {
  position: sticky;
  top: 20vh;
}

a {
  color: #00B7FF;
}

@keyframes rota {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#paypal-button-container {
  max-width: 500px;
  margin-top: 50px;
}
