

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap');

$darkblu: #1c202e;
$midblu: #20394d;

@mixin portrait() {
  @media (orientation: portrait) {
    @content;
  }
}

@mixin landscape() {
  @media (orientation: landscape) {
    @content;
  }
}



body {

  font: 14px 'Archivo', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: $darkblu;
  color: #ffffff;

  @include portrait() {
    flex-wrap: wrap;
    padding:30px;

  }
  @include landscape() {
    padding: 50px;
  }

}

h1 {
  text-transform: uppercase;
  font-size: 4rem;

  a {
    color: inherit;
    text-decoration: inherit;
  }
  a:hover {
    color: $midblu;
  }
}

#title {
  position: sticky;
  top: 10vh;
  z-index: 5;
}

#cart_link {
  position: sticky;
  top: 20vh;
}

a {
  color: #00B7FF;
}



@keyframes rota {
    0% {transform: rotateY(0)}
    100% {transform: rotateY(360deg)}
}




#paypal-button-container {
  max-width: 500px;
  margin-top: 50px;
}

#left {
  @include landscape() {
    flex-basis: 30%;
    padding-right: 4rem;
    position: sticky;
  }
  @include portrait() {
    flex-basis: 100%;
    padding-right: 4rem;
    width: 100%;
  }
  
  top: 0px;
  height: auto;
}


#logo {
  @include landscape() {
    width: 100%;
  }

  @include portrait() {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  margin-top: 2rem;
  animation: rota 10s 3;
  transform-origin: center center;
}



#right {
  @include landscape() {
    flex-basis: 70%;
    width: 70%;
    padding-left: 4rem;
  }

  @include portrait() {
    width: 100%;
    padding-left: 0rem;
  }

  border-left: #ffffff 1px solid;
}

.product {
  background-color: $midblu;
  height: auto;
  margin-bottom: 2rem;
  padding: 1rem;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  @include landscape() {
    max-width: 90%;
  }
  @include portrait() {
    max-width: 100%;
  }


  h2.name {
    flex-basis: 100%;
    display: inline-block;
  }

  h3.price {
    font-style: italic;
    display: block;
    text-align: left;
  }

  .prodImg {
    // height: 50vh;
    display: inline-block;
    object-fit: contain;
    object-position: left center;
    @include landscape() {
      flex-basis: 40%;
    }
    @include portrait() {
      flex-basis: 100%;
    }
  }

  .description {
    display: inline-block;
    width: 38%;
    padding: 2%;
    border: 1px solid white;
    @include landscape(){
      flex-basis: 40%;
    }
    @include portrait() {
      margin-top: 5%;
      flex-basis: 90%;
    }
  }

  .add_to_cart {
    color:white;
    background-color: $darkblu;
    padding-bottom: 1%;
    padding-top: 1%;
  }

  .added {
    color: white;
    display: none;
    margin-left: .5rem;
    margin-top: 1rem;

    img {
      height: 3rem;
    }
  }
}