@import url("https://fonts.googleapis.com/css2?family=Archivo:wght@600&display=swap");
body {
  font: 14px 'Archivo', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: space-between;
  background-color: #1c202e;
  color: #ffffff;
}

@media (orientation: portrait) {
  body {
    flex-wrap: wrap;
    padding: 30px;
  }
}

@media (orientation: landscape) {
  body {
    padding: 50px;
  }
}

h1 {
  text-transform: uppercase;
  font-size: 4rem;
}

h1 a {
  color: inherit;
  text-decoration: inherit;
}

h1 a:hover {
  color: #20394d;
}

#title {
  position: sticky;
  top: 10vh;
  z-index: 5;
}

#cart_link {
  position: sticky;
  top: 20vh;
}

a {
  color: #00B7FF;
}

@keyframes rota {
  0% {
    transform: rotateY(0);
  }
  100% {
    transform: rotateY(360deg);
  }
}

#paypal-button-container {
  max-width: 500px;
  margin-top: 50px;
}

#left {
  top: 0px;
  height: auto;
}

@media (orientation: landscape) {
  #left {
    flex-basis: 30%;
    padding-right: 4rem;
    position: sticky;
  }
}

@media (orientation: portrait) {
  #left {
    flex-basis: 100%;
    padding-right: 4rem;
    width: 100%;
  }
}

#logo {
  margin-top: 2rem;
  animation: rota 10s 3;
  transform-origin: center center;
}

@media (orientation: landscape) {
  #logo {
    width: 100%;
  }
}

@media (orientation: portrait) {
  #logo {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}

#right {
  border-left: #ffffff 1px solid;
}

@media (orientation: landscape) {
  #right {
    flex-basis: 70%;
    width: 70%;
    padding-left: 4rem;
  }
}

@media (orientation: portrait) {
  #right {
    width: 100%;
    padding-left: 0rem;
  }
}

.product {
  background-color: #20394d;
  height: auto;
  margin-bottom: 2rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (orientation: landscape) {
  .product {
    max-width: 90%;
  }
}

@media (orientation: portrait) {
  .product {
    max-width: 100%;
  }
}

.product h2.name {
  flex-basis: 100%;
  display: inline-block;
}

.product h3.price {
  font-style: italic;
  display: block;
  text-align: left;
}

.product .prodImg {
  height: 50vh;
  display: inline-block;
  object-fit: contain;
  object-position: left center;
  flex-basis: 40%;
}

.product .description {
  display: inline-block;
  width: 38%;
  padding: 2%;
  border: 1px solid white;
}

@media (orientation: landscape) {
  .product .description {
    flex-basis: 40%;
  }
}

@media (orientation: portrait) {
  .product .description {
    margin-top: 5%;
    flex-basis: 90%;
  }
}

.product .add_to_cart {
  color: white;
  background-color: #1c202e;
  padding-bottom: 1%;
  padding-top: 1%;
}
